body {
  background-color: #271b27;
  color: #f0f0f0;
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 2rem;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  color: #854fd6;
}
h2 {
  color: #f0f0f0;
}
img {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
  border: none;
}
.chart-section {
  margin-bottom: 3rem;
}
a {
  color: #ffb6ff;
}
p {
text-align: justify;
font-size: 1.1rem;
}
.options {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.options a {
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

.options a:hover {
  background: #444;
}